<a href="https://colab.research.google.com/github/RobFilho1986/Boletim/blob/main/Atividade02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DM - Atividade 02 - Aventura no Supermercado dos Dados!

In [14]:
import pandas as pd

df = pd.read_csv('/content/supermarket_sales.csv')

In [15]:
print (df.head())

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      A     Yangon        Member    Male
4  373-73-7910      A     Yangon        Normal    Male

             Product line  Unit price  Quantity   Tax 5%     Total       Date  \
0       Health and beauty       74.69         7  26.1415  548.9715   1/5/2019
1  Electronic accessories       15.28         5   3.8200   80.2200   3/8/2019
2      Home and lifestyle       46.33         7  16.2155  340.5255   3/3/2019
3       Health and beauty       58.22         8  23.2880  489.0480  1/27/2019
4       Sports and travel       86.31         7  30.2085  634.3785   2/8/2019

    Time      Payment    cogs  gross margin percentage  gross income  Rating
0  13:08      Ewallet  522.83                 4.761905       26.1415     9.1
1  10:29         Cash   76.40                 4.761905        3.8200     9.6
2  13:23  Credit card  324.31                 4.761905       16.2155     7.4
3  20:33      Ewallet  465.76                 4.761905       23.2880     8.4
4  10:37      Ewallet  604.17                 4.761905       30.2085     5.3

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   object
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   object
 9   Total                    1000 non-null   object
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   object
 14  gross margin percentage  1000 non-null   int64
 15  gross income             1000 non-null   object
 16  Rating                   1000 non-null   object
dtypes: int64(2), object(15)
memory usage: 132.9+ KB

Calcule a média da coluna "Unit Price" para descobrir o valor médio dos produtos vendidos.

In [16]:
mean_unit_price = df['Unit price'].mean()
print(f"Média do 'Unit Price': {mean_unit_price:.2f}")

Média do 'Unit Price': 55.67

Encontre o desvio padrão da coluna "Unit Price" para entender a variação dos preços no supermercado.

In [17]:
std_unit_price = df['Unit price'].std()
print(f"Desvio padrão do 'Unit Price': {std_unit_price:.2f}")

Desvio padrão do 'Unit Price': 26.49

Conte quantas linhas estão acima e abaixo da média da coluna "Unit Price", revelando a distribuição dos preços em relação à média.

In [18]:
above_mean_count = df[df['Unit price'] > mean_unit_price].shape[0]
below_mean_count = df[df['Unit price'] < mean_unit_price].shape[0]

print(f"Linhas acima da média: {above_mean_count}")
print(f"Linhas abaixo da média: {below_mean_count}")

Linhas acima da média: 494
Linhas abaixo da média: 506

Calcule a mediana da coluna "Unit Price" para encontrar o valor que divide os preços em duas metades iguais.

In [19]:
median_unit_price = df['Unit price'].median()
print(f"Mediana do 'Unit Price': {median_unit_price:.2f}")

Mediana do 'Unit Price': 55.23

Conte quantas linhas estão acima e abaixo da mediana da coluna "Unit Price", revelando a distribuição dos preços em relação à mediana.

In [20]:
above_median_count = df[df['Unit price'] > median_unit_price].shape[0]
below_median_count = df[df['Unit price'] < median_unit_price].shape[0]

print(f"Linhas acima da mediana: {above_median_count}")
print(f"Linhas abaixo da mediana: {below_median_count}")

Linhas acima da mediana: 500
Linhas abaixo da mediana: 500